
name = "multiplayer-template"
main = "worker/worker.ts"
compatibility_date = "2025-05-08"
compatibility_flags = ["nodejs_compat"]
upload_source_maps = true
preview_urls = true

[observability]
enabled = true

[assets]
not_found_handling = "single-page-application"
directory = "./dist/client"

# Set up the durable object used for each tldraw room
[durable_objects]
bindings = [
    { name = "TLDRAW_DURABLE_OBJECT", class_name = "TldrawDurableObject" },
    { name = "COLORM_DURABLE_OBJECT", class_name = "ColorRmDurableObject" },
]

# Durable objects require migrations to create/modify/delete them
[[migrations]]
tag = "v1"
new_sqlite_classes = ["TldrawDurableObject", "ColorRmDurableObject"]

# We store rooms and asset uploads in an R2 bucket
[[r2_buckets]]
binding = 'TLDRAW_BUCKET'
bucket_name = 'tldraw-shubh'
preview_bucket_name = 'tldraw-shubh'

[env.preview]
durable_objects.bindings = [
    { name = "TLDRAW_DURABLE_OBJECT", class_name = "TldrawDurableObject" },
]
r2_buckets = [
    { binding = 'TLDRAW_BUCKET', bucket_name = 'tldraw-shubh', preview_bucket_name = 'tldraw-shubh' }
]
